<app-header linkHref="/" linkName="Consultar Paciente "></app-header>
<main>
    <h2>Novo Paciente</h2>
    <form action="">
        <input type="text" placeholder="Nome Completo" />
        <input type="text" placeholder="Endereço">
        <input type="number" placeholder="Data de nascimento">
        <input type="text" placeholder="Convênio">
        <input type="text" placeholder="Sexo">
        <input type="file" placeholder="Foto">
        <input type="text" placeholder="CPF">
        <input type="text" placeholder="Tipo de Consulta">
    </form>
    <button>
        Cadastrar novo paciente
    </button>
</main>